![](icon-small.png)

# Windig <small>__VERSION__</small>

> Your little companion app for your location.

- Weather, real-time and forecast
- Wind compass
- Compass

[GitHub](https://github.com/m5lk3n/windig/)
[Get Started](#windig)