![](icon-small.png)

# Windich <small>__VERSION__</small>

> Your very little companion app for your location.

- Weather, real-time and forecast
- Wind compass
- Compass

[GitHub](https://github.com/m5lk3n/windich/)
[Get Started](#windich)