<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windig __VERSION__</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsify@4/lib/themes/dark.css" />
    <style>
      .cover {
        background: #111418 !important;
      }
      .anchor span, h1, h1 small {
        color: #2196F3;
      }
      @font-face {
        font-family: "Quicksand";
        src: url("_fonts/Quicksand-Regular.ttf");
      }
      body {
        font-family: "Quicksand", sans-serif;
        font-style: normal;
        background-color: #121212;
        color: #e0e0e0;
      }
      .sidebar {
        background-color: #1f1f1f;
      }
      .sidebar .sidebar-header {
        color: #f2f2f2;
      }
      .sidebar a {
        color: #cfcfcf;
      }
      .sidebar a:hover {
        color: #ff9800;
      }
      .content {
        background-color: #121212;
        color: #e0e0e0;
      }
      .markdown-section a {
        text-decoration: none;
      }
      .markdown-section a:hover {
        text-decoration: underline;
      }
    </style>
    <!--script src="https://cdn.jsdelivr.net/npm/docsify-plugin-i18n@1.0.4/dist/docsify-i18n.min.js"></script-->
  </head>
  <body>
    <div id="app">...</div>
    <script src="https://cdn.jsdelivr.net/npm/docsify@4/lib/docsify.min.js"></script>
    <script>
      window.$docsify = {
        name: 'Windig',
        logo: '/icon-small.png',
        repo: 'm5lk3n/windig',
        themeColor: '#ff9800',
        loadSidebar: false,
        loadNavbar: true,
        darkmode: true,
        coverpage: true,
        alias: {
          '/.*/_navbar.md': '/_navbar.md',
          '/en/': '/',
        }
      };
    </script>
  </body>
</html>